@font-face {
  font-family: "thin";
  src: url("../fonts/Roboto-Thin-webfont.eot");
  src: local("?"),
    url("../fonts/Roboto-Thin-webfont.woff") format("woff"),
    url("../fonts/Roboto-Thin-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Thin-webfont.svg") format("svg");
  }

  @font-face {
  font-family: "light";
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: local("?"),
    url("../fonts/Roboto-Light-webfont.woff") format("woff"),
    url("../fonts/Roboto-Light-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Light-webfont.svg") format("svg");
  }


body{

	font-family: light;
	color: #ffffff;

	line-height:28px;
	font-size:14px;



}


.blur{
  width:100%;

  background: url('../img/muted.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    position:fixed;
    height:100vh;
    z-index:-10;
}

.blurred{


  -webkit-filter: blur(4px);
}



p{

font-size:16;

}


.indent{

  margin-left:15px;
  font-size:34px;
  }


sup{
  font-size:50%;

}

h1{
	font-family: thin;
	color:	#ffffff;
	font-size: 77px;
  margin-top:-20px;
  margin-bottom:15px;

}



h2{
	font-family: thin;
	color: #ffffff;
	font-size: 55px

}



h3{
	font-family: thin;
	color: #A6A6A6;
	font-size: 28px;

}


h4{


}

h5{

	margin-top: -5px;
  margin-bottom: -5px;
	font-family: light;
	color: #ffffff;
	font-size: 24px;

}

h6{

	margin-top: 15px;
	font-family: light;
	color: #ffffff;
	font-size: 16px;

}

#about h6{
	font-family: light;
	color:white;
	font-size: 22px;

}


.header{
  width:100%;
  height:100vh;
  padding:50px 50px 50px;
  color:#68AEA0;
  margin-bottom:100px;



  text-align: center;

  z-index:100;
}

.cirqueExp{

  background:black;


}

.header h1{

  color: #fffff;

}

.toppers{

  width:100%;

}

.toppers li{

  float:left;
  margin:auto;
  list-style:none;


}


.header img{

    max-width:85%;
    margin-top:-35px;


}


.header h6{

    color: white;
    font-family: thin;

}

.headerOverlay{
  width:100%;
  height:450px;
  background: #033E6B;



}

.mapIntro{
  padding:15px;
  background:black;
  width:300px;
  height:5000px;
  position:absolute;
  top:0;
  left:0;
  opacity:.6;
  z-index:-1;


   -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;


    margin-top:-420px;

}




.mapIntro img{
    margin-top:25px;
    max-width:100%;

}




.dotMap{
  padding:15px;
  background:#333333;
  opacity:.85;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;



}





.dotMap img{
    margin-top:25px;
    max-width:100%;

}



.nav{
padding-bottom:8px;
background: black;
z-index: 210;
color:white;
width:100%;
margin:auto;
border-bottom:solid 1px;

border-color:#333333;

opacity:.9;

}

.navigation{

	margin:auto;

}

.navigation a{
	text-decoration: none;
	color: lightgray;
	font-size: 18px;

}

.navigation a:hover{
	text-decoration: none;
	color: white;
	font-size: 18px;

}

.nav li{

margin-right: 5%;
float:left;
list-style:none;

}

.nav li a{


	color: lightgray;



	font-size: 18px;

}

.nav li a:hover{
	text-decoration: none;
	color: white;


}

.mobileNav li{
	margin:12px;
	float:left;
	text-align: center;
	list-style: none;


}

.mobileNav ul{
	height:50px;
	background:#05080E;
	margin: auto;

}


.mobileNav a{
	color:white;
	font-size: 22px;

}




.mobileNavigation {

	display:none;

}


.mobileNavigation ul{
	width:100%;
	margin:auto;
	background:#05080E;
	height:100vh;
	position:fixed;
	z-index: 20;
	padding-top: 10px;

}





.mobileNavigation li{
	list-style: none;
	text-align: center;
	margin:25px;

}

.mobileNavigation a{
	color:white;
	font-size: 30px;
	font-family: fontReg;


}

.clear {clear: both;}











.main{


	max-width: 98%;
	min-width:40%;
	margin: auto;
	height:100%;
	padding:25px;
}


.introDoobly{
  padding-left:15px;
  color:#333333;
  width:88%;


}


.photos{


  margin-top:25px;

}


.photos a{

color:#68AEA0;
text-decoration:none;


}


.photos h5{

color:#68AEA0;



}


.photos a:hover{

opacity:.7;
text-decoration: none;


}


.photos:hover{


  text-decoration: none;
}


.photos img{

  max-width:90%;
  margin-bottom:15px;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;

}


.thingers{
  background: url('../img/black_lozenge.png');
  margin-top:25px;

}


.thingers img{

  max-width:100%;
  margin-bottom:15px;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;

}



.thingers h5{


margin-bottom:5px;
color:#ffffff;
font-family: thin;


}

.ico{

  float:right;
  z-index:10;
  }


.ico img{

  max-width:35px;


}

.thingers h6{

  color:#ffffff;


}

.thingers a{

  color:#68AEA0;
  text-decoration:none;

}

.thingers a:hover{

opacity:.7;
text-decoration: none;


}


.thingers ul{

  list-style:none;

}


.photosRight{

  margin-left:-50px;

}


.blurblr{
  float:left;
  position:absolute;
  margin-left:30%;
  color: white;
  z-index:100;

}


.blurblr h5{

  margin-bottom:5px;
  color:white;
  padding-left:17px;

}


.blurblr p{
  font-family: thin;
  padding-left:15px;
  width:250px;
  border-left:solid 2px;
  border-color:#68AEA0;
  z-index:100;
  font-size:16px;

}



.recent{

  border-left:solid 2px;
  border-color:#68AEA0;

}


.thinger{

  color:#ffffff;
  height:225px;
  width:100%;


  margin-top:45px;
  margin-bottom: 25px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;


}



.cirque{


  background: url("../img/wy/cirqueCover-04.png");
  background-size:cover;

}



.elbert{


  background: url("../img/co/elbert-08.png");
  background-size:cover;

}


.kings{


  background: url("../img/ut/kings-08.png");
  background-size:cover;

}


.zion{


  background: url("../img/ut/zionChain-10.png");
  background-size:cover;

}


.trip{

  color:#ffffff;
  height:400px;
  width:94%;
  margin:auto;
  padding:25px;
  padding-left:40px;
  margin-top:45px;
  margin-bottom: 75px;
  margin-right:25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;


  font-size:16px;


}

.trip:hover{
  cursor:pointer;
  opacity:.7;

}


.tripOver{

  color:#ffffff;
  height:400px;
  width:90%;
  margin:auto;
  padding:25px;
  padding-left:40px;
  background:#060F15;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;


  font-size:16px;
  position:absolute;
  left:40px;
  opacity:.7;

}






.trip h4{


  color:#ffffff;

  margin-bottom:15px;
  font-size:24px;
  font-family:light;

}


.trip h5{


  color:#ffffff;
  margin-top:15px;
  margin-bottom:5px;
  font-size:18px;
  font-family:light;

}


.trip h6{


  color:#ffffff;
  margin-left:5px;
  margin-top:25px;
  font-size:16px;

}

.trip img{

  max-width:75px;
  margin-bottom:10px;

}

.infolett{
  margin-right:25px;
  float:left;

}



.topper img{

  max-width:100%;
  margin-bottom:-48px;

}


.bloggles{
  display:none;

  color:#333333;
  height:100%;
  width:94%;
  margin:auto;
  padding-top:25px;
  padding-bottom:25px;

  margin-top:-75px;
  margin-bottom: 75px;
  margin-right:25px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -khtml-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  background-color:rgba(256, 256, 256, 0.75)


}


.bloggles h2{
  color:#333333;
  font-size:30px;
  font-family: light;
  margin-left:50px;

}

.bloggles h6{
  color:#333333;
  font-size:22px;
  font-family: light;
  margin-left:50px;
  margin-bottom:-25px;
  margin-top:40px;

}

.bloggles img{

  max-width:100%;


}


.bloggles p{
  font-size:16px;
  padding:25px;
  max-width:80%;
  margin-left:25px;
  margin-bottom:-15px;



}

.closeBtn{
  color:#333333;
  font-size:24px;
  text-align:center;
  padding:5px;

  border:solid 1px;
  border-color:#333333;
  margin:auto;
  width:125px;
  height:45px;

  margin-top:55px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.closeBtn:hover{

  background:#333333;
  color:#ffffff;
  cursor:pointer;

}


.introArea img{

  margin-bottom:55px;
  max-width:22%;
  float:right;
  margin-right:55px;
  margin-left:25px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;

}


.splitImg img{

max-width:50%;

}


.clear{

  clear:both;

}

.pin{float:left;}

.infoborderlower {

  border-style:dashed;
  border-width:1px;
  border-color:white;
  width:225px;
  margin-bottom:15px;

}



.teaserImgs img{

  max-width:100%;


}


.teaserInfo{

  margin-bottom:50px;
  margin-top:20px;

}

.teaserInfo img{

  float: left;
  margin-left:12px;
  margin-right:12px;

}

.sm img{

  margin-bottom:20px;

}


.cdt{

  background:url("../img/wy/small/fluers.jpg");
  background-size:cover;
}





.npsamy{

  background:url("../img/ut/zionChain-2.jpg");
  background-size:cover;

}


.thinger h5{

  color:#ffffff;

}








.thingerInner{


    width:90%;
    z-index:55;
    position:absolute;
    bottom:-40px;
    left:25px;



}


.thingerInner img{

    float:left;
    margin-right:15px;

}



.sticky {

    position: fixed;
     top: 0;

}

.teasers img{

min-height:166px;

}
