html{
    
    background:url('../img/blackorchid.png');
    
}

.thumbnails img{
    
    max-width:100px;
    
}

h9 {
    
    font-size:30px;
    
}

body {
    border-top:solid;
border-color:#08C;
border-width:8px;
    background:url('../img/blackorchid.png');
    color:white;
    
    font-family: "roboto", Arial, sans-serif;
    
}

@font-face {
  font-family: "roboto";
  src: url("Roboto-light-webfont.eot");
  src: local("?"),
    url("Roboto-light-webfont.woff") format("woff"),
    url("Roboto-light-webfont.ttf") format("truetype"),
    url("Roboto-light-webfont.svg") format("svg");
  }

@font-face {
  font-family: "antiqua";
  src: url("Chantelli_Antiqua-webfont.eot");
  src: local("?"),
    url("Chantelli_Antiqua-webfont.woff") format("woff"),
    url("Chantelli_Antiqua-webfont.ttf") format("truetype"),
    url("Chantelli_Antiqua-webfont.svg") format("svg");
  }


@font-face {
  font-family: "afta";
  src: url("AftaSansThin-Regular-webfont.eot");
  src: local("?"),
    url("AftaSansThin-Regular-webfont.woff") format("woff"),
    url("AftaSansThin-Regular-webfont.ttf") format("truetype"),
    url("AftaSansThin-Regular-webfont.svg") format("svg");
  }

h1, h2, h3{
    font-family: "roboto", Arial, sans-serif;
    color:white;
    font-weight:normal;
}

h1 a{
    font-family: "roboto", Arial, sans-serif;
    color:white;
    font-size:55px;
    -moz-transition-property : color;
-moz-transition-duration:0.5s;
-webkit-transition-property : color;
-webkit-transition-duration : 0.5s;
-o-transition-property : color;
-o-transition-duration : 0.5s;
transition-property : color;
transition-duration : 0.5s;
 margin-bottom:-50px;   
}

h1 a:hover{
    color:#08C;
    
    -moz-transition-property : color;
-moz-transition-duration:0.5s;
-webkit-transition-property : color;
-webkit-transition-duration : 0.5s;
-o-transition-property : color;
-o-transition-duration : 0.5s;
transition-property : color;
transition-duration : 0.5s;
}

h4{
    font-family: "roboto", Arial, sans-serif;
    color:white;
    font-weight:normal;
}

h7{
    
    font-size:20px;
   
}

img.alignleft {float:left;}

img.alignright {float:right;}


#header {
    margin-top:10px;
    
    }
    
#header li{
    padding:0px 20px 0px 90px;
    float:left;
    list-style: none;
    
}

#header a{
    
    color:white;
       -moz-transition-property : color;
-moz-transition-duration:0.5s;
-webkit-transition-property : color;
-webkit-transition-duration : 0.5s;
-o-transition-property : color;
-o-transition-duration : 0.5s;
transition-property : color;
transition-duration : 0.5s;
}

#header a:hover{
    
    
     color:#08C
        
}



#content img{
    max-height:350px;
    max-width:420px;
    padding:10px;
    
    
   
    
}






#sidebar a:hover{
   color:white; 
    
    
}


.downnav{
    border-top:solid 1px;
     position:fixed;
    left:0px;
    bottom:0px;
    height:80px;
    width:100%;
    background:black;
    
}





.downnav li{
    
   padding:0px 0px 0px 0px;
   float:left;
   list-style:none;
}

.downnav img{
    
   max-height:80px;
}

.upnav{
    display:block;
    margin-left: auto;
  margin-right: auto;
    
}

.upnav img{
    max-height:80px;
    
}


#sideselector {
    height:750px;
    overflow-y: auto; /* or auto */
   
  
}

#sideselector img:hover{
   
    border:solid;
    border-width:2px;
}


#country img{
    
    margin-bottom:20px;
    -moz-border-radius: 2px; /* Firefox */
-webkit-border-radius: 2px; /* Safari, Chrome */
border-radius: 2px; /* CSS3 */



}

a:hover{
    
    color: #08C;
    
}

@media screen and (max-width: 775px) {
    .upnav {
        display: none !important;
    }
    
    .uppiestnav{
        display: none !important;
    }
    
    #btmpics img{
       width:155px;
    }
    
    #content{
       border-right:none;
    }
    
    #content img{
       padding-left:0px;
    }
    
    #sideselector{
    display: none !important;
    
    
}
    
    
}

@media screen and (min-width: 775px) {
    .downnav {
        display: none !important;
    }
}

#btmpics img{
    
   max-width:200px;
    
}

.contenters li{
    
    list-style:none;
    
    
}


.navimgs li{
    
    
    list-style:none;
    
}

.back{
    width:250px;
    background:#08C;
    padding:5px 10px 5px 10px;
    
    
     -moz-border-radius: 4px; /* Firefox */
-webkit-border-radius: 4px; /* Safari, Chrome */
border-radius: 4px; /* CSS3 */
}



.next{
    width:250px;
    margin-bottom:100px;
    background:#08C;
      padding:5px 10px 5px 10px;
     -moz-border-radius: 4px; /* Firefox */
-webkit-border-radius: 4px; /* Safari, Chrome */
border-radius: 4px; /* CSS3 */
}